<h2>パスワード再発行</h2>

<div class="form-content form-content-main row">
  <div class="form-content-in col-md-4">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, class: "field-label" do %>
    <i class="fa fa-envelope-o"></i>メールアドレス
    <% end %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "パスワード再発行", class: "btn btn-success btn-block" %>
  </div>
<% end %>
</div>
</div>

<div class="form-content form-content-sub row">
  <div class="form-content-in col-md-4">

<%= render "devise/shared/links" %>
</div>
</div>
