<%= form_for(@post, url: choose_new_or_edit) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= @post.errors.count %>件のエラーがあります。</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :comment %>
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.label :picture %>
    <%= f.file_field :picture %>
  </p>
  <br>
  <%= f.submit %>
<% end %>

<%= link_to "戻る", posts_path %>
