<h2>投稿内容確認</h2>

<div class="form-content form-content-main row">
  <div class="form-content-in col-md-4">

<%= form_for(@post) do |f| %>
  <!-- `f.hidden_field`を使用して、リクエストパラメータに値を設定できるようにしています。 -->
  <%= f.hidden_field :content %>

  <div>
  <%= hidden_field_tag :"cache[picture]", @post.picture.cache_name %>
  <%= image_tag(@post.picture, :class => "confirm-picture") %>
  </div>

  <p class="confirm-content"><%= @post.content %></p>
  <%= f.submit "投稿する", class: "btn btn-primary btn-block" %>
<% end %>
</div>
</div>

<div class="form-content form-content-sub row">
  <div class="form-content-in col-md-4">

<%= form_for(@post, url: new_post_path, method: 'get') do |f| %>
  <%= f.hidden_field :content %>
  <p class="link-back">
  <%= link_to :back, class: "btn btn-link btn-back" do %>
    <i class="fa fa-arrow-left"></i>前の画面に戻る
    </p>
  <% end %>
<% end %>
</div>
</div>
