<%= notice %>
<h3>以下の内容で、送信する。</h3>

<%= form_for(@post) do |f| %>
  <!-- `f.hidden_field`を使用して、リクエストパラメータに値を設定できるようにしています。 -->
  <%= f.hidden_field :content %>

  <div>
  <%= hidden_field_tag :"cache[picture]", @post.picture.cache_name %>
  <%= image_tag(@post.picture) %>
  </div>
  
  <p><%= @post.content %></p>
  <%= f.submit "登録する" %>
<% end %>

<%= form_for(@post, url: new_post_path, method: 'get') do |f| %>
  <%= f.hidden_field :content %>
  <%= f.submit "もどる", name: 'back' %>
<% end %>
