<!DOCTYPE html>
<html>
<head>
  <title>testagram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Norican" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="wrapper">

  <header>
    <div class="header-inner row">
      <div class="header-logo col-md-6">
        <h1>
          <%= link_to root_path do %>
            <i class="fa fa-instagram" aria-hidden="true"></i>testagram
          <% end %>
          </h1>
      </div>
      <nav class="col-md-6">
        <ul class="nav-lists">
          <% if user_signed_in? %>
            <li class="nav-list">
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="ログアウト"></i>
              <% end %>
            </li>
            <li class="nav-list">
              <%= link_to edit_user_registration_path do %>
                <i class="fa fa-user" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="アカウント編集"></i>
              <% end %>
            </li>
            <li class="nav-list">
                <%= link_to "投稿する", new_post_path, class: "btn btn-default" %>
            </li>
          <% else %>
            <li class="nav-list">
              <%= link_to new_user_session_path do %>
                <i class="fa fa-sign-in" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="ログイン"></i>
              <% end %>
            </li>
            <li class="nav-list">
              <%= link_to new_user_registration_path do %>
                <span class="btn btn-default">会員登録</span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>

  <p class="notice-txt"><%= notice %></p>

  <main class="container text-center">

  <%= yield %>

  </main>

</div>

<footer>
  Copyright &copy; 2017, osafune All Rights Reserved.
</footer>

<script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

</body>
</html>
